#footer_wrap.outer
  footer.inner
    section#SocialF(style='position: absolute; width: 170px; z-index: 10; bottom: 0px; right: 0; height: 70px;')
      a(href='https://twitter.com/ClangPowerTools' data-tooltip='Twitter' style='text-decoration: none;' rel='nofollow' target='_blank')
        svg(width='80' height='50' viewbox='0 0 416 448' fill='#55acee')
          path(d='M405 102q-16.75 24.5-40.5 41.75 0.25 3.5 0.25 10.5 0 32.5-9.5 64.875t-28.875 62.125-46.125 52.625-64.5 36.5-80.75 13.625q-67.75 0-124-36.25 8.75 1 19.5 1 56.25 0 100.25-34.5-26.25-0.5-47-16.125t-28.5-39.875q8.25 1.25 15.25 1.25 10.75 0 21.25-2.75-28-5.75-46.375-27.875t-18.375-51.375v-1q17 9.5 36.5 10.25-16.5-11-26.25-28.75t-9.75-38.5q0-22 11-40.75 30.25 37.25 73.625 59.625t92.875 24.875q-2-9.5-2-18.5 0-33.5 23.625-57.125t57.125-23.625q35 0 59 25.5 27.25-5.25 51.25-19.5-9.25 28.75-35.5 44.5 23.25-2.5 46.5-12.5z')
      a(href='https://www.facebook.com/ClangPowerTools' data-tooltip='Facebook' style='text-decoration: none;' rel='nofollow' target='_blank')
        svg(width='80' height='50' viewbox='0 0 256 448' fill='#3b5998')
          path(d='M239.75 3v66h-39.25q-21.5 0-29 9t-7.5 27v47.25h73.25l-9.75 74h-63.5v189.75h-76.5v-189.75h-63.75v-74h63.75v-54.5q0-46.5 26-72.125t69.25-25.625q36.75 0 57 3z')
    include copyright.pug
