title Clang Power Tools (for Visual Studio) | Clang Power Tools
meta(property='og:title' content='Clang Power Tools (for Visual Studio)')
meta(property='og:locale' content='en_US')
meta(name='description' content='Bringing clang-tidy magic to Visual Studio C++ developers')
meta(property='og:description' content='Bringing clang-tidy magic to Visual Studio C++ developers')
link(rel='canonical' href='https://clangpowertools.com/about.html')
meta(property='og:url' content='https://clangpowertools.com/about.html')
meta(property='og:site_name' content='Clang Power Tools')
script(type='application/ld+json').
  {"@type":"WebPage","url":"https://clangpowertools.com/about.html","headline":"Clang Power Tools (for Visual Studio)","description":"Bringing clang-tidy magic to Visual Studio C++ developers","@context":"http://schema.org"}
